[submodule "learning-cxx"]
	path = learning-cxx
	url = https://github.com/onenewcode/learning-cxx.git
[submodule "TinyInfiniTensor"]
	path = TinyInfiniTensor
	url = https://github.com/onenewcode/TinyInfiniTensor.git
[submodule "learning-lm-rs"]
	path = learning-lm-rs
	url = https://github.com/onenewcode/learning-lm-rs.git
